*.lnk
*.geany
*.zip
*.exe
/bin/oracle
/bin/test_combo
/bin/test_recall
/bin/test_cash_exchange
/bin/test_rating
/bin/test_moves
/bin/calib_valuebased
/bin/calib_combo_threshold
/bin/calib_borealis
/bin/calib_balanced
/bin/calib_heuristic
/bin/calib_tactical
/bin/calib_hbt
/bin/calib_hbt2ply
/bin/calib_simplemc
/bin/test_hbt2ply_reply
/bin/test_ismcts
/bin/calib_ismcts_timing
/bin/calib_ismcts_efficiency
/bin/calib_ismcts_rollout_policy
*.o
*.xls
*.xlsx
*.xlsm
*.xlsb
ORACLEGeanyProj.tags
.directory
__pycache__/
*.pyc
aicalibsrc/*/results/
