*.lnk
*.geany
*.zip
*.exe
/bin/oracle
/bin/test_combo
/bin/test_recall
/bin/test_cash_exchange
/bin/test_rating
/bin/calib_valuebased
/bin/calib_combo_threshold
/bin/calib_borealis
*.o
*.xls
*.xlsx
*.xlsm
*.xlsb
ORACLEGeanyProj.tags
.directory
__pycache__/
*.pyc
aicalibsrc/*/results/
